# --- MODIFY THIS FILE ---

streamlit
pandas
plotly
pypdf2
python-docx
scikit-learn
spacy
textblob
chromadb
sentence-transformers
# --- NEW ---
langchain-google-genai
google-generativeai
psycopg2-binary
sqlalchemy
ydata-profiling
streamlit-pandas-profiling
langgraph
langchain-community
langchain-experimental
